{% extends 'base.html' %} {% block content %} {% load static %}
<!-- Start Banner Area -->
<section class="banner-area organic-breadcrumb">
    <div class="container">
        <div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
            <div class="col-first">
                <h1>Product {{details}}</h1>
                <nav class="d-flex align-items-center">
                    <a href="index.html">Home<span class="lnr lnr-arrow-right"></span></a>
                    <a href="#">Shop<span class="lnr lnr-arrow-right"></span></a>
                    <a href="single-product.html">product-details</a>
                </nav>
            </div>
        </div>
    </div>
</section>
<!-- End Banner Area -->

<!--================Single Product Area =================-->
<div class="product_image_area">
    <div class="container">
        <div class="row s_product_inner">
            <div class="col-lg-6">

                <img class="img-fluid" src="{{details.image.url}}" alt="">
            </div>

            <div class="col-lg-5 offset-lg-1">
                <div class="s_product_text">
                    <h3>{{details.name}}</h3>
                    <h2>${{details.price}}</h2>
                    <ul class="list">
                        <li><a class="active" href="#"><span>Category</span> : {{details.category}}</a></li>
                        
                    </ul>
                    <p>{{details.description}}</p>
                    <form action="{% url 'cart' details.id %}" method="POST">
                        {% csrf_token %}
                        {% if details.quantity <= 0 %}
                        <p> This item is out of stock! </p>
                        {% else %}
                        {% if user.is_authenticated %}
                        <div class="product_count">
                            <label for="qty">Quantity:</label>
                            <input type="text" name="quantity" id="sst" maxlength="12" value="1" title="Quantity:" class="input-text qty">
                            <button onclick="var result = document.getElementById('sst'); var sst = result.value; if( !isNaN( sst )) result.value++;return false;" class="increase items-count" type="button"><i class="lnr lnr-chevron-up"></i></button>
                            <button onclick="var result = document.getElementById('sst'); var sst = result.value; if( !isNaN( sst ) &amp;&amp; sst > 0 ) result.value--;return false;" class="reduced items-count" type="button"><i class="lnr lnr-chevron-down"></i></button>
                        </div>
                      
                        <div class="card_area d-flex align-items-center">
                            <button style="border: none;" class="primary-btn" type="submit">Add to Cart</button>
                        </div>
                        {% else %}
                        <p> <a href="{% url 'login' %}"> Login now to add to cart! </a></p>
                        {% endif %}
                        {% endif %}
                    </form>

                </div>
            </div>
        </div>
    </div>
</div>
<!--================End Single Product Area =================-->

<!--================Product Description Area =================-->
<section class="product_description_area">
    <div class="container">
        <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item">
                <a class="nav-link" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Description</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Specification</a>
            </li>

        </ul>
        <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade" id="home" role="tabpanel" aria-labelledby="home-tab">
                <p>{{details.description}}</p>
                
            </div>
            <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                <div class="table-responsive">
                    <table class="table">
                        <tbody>
                            <tr>
                                <td>
                                    <h5>Quality</h5>
                                </td>
                                <td>
                                    <h5>{{details.quantity}}</h5>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <h5>Weight</h5>
                                </td>
                                <td>
                                    <h5>{{details.weight}} kg</h5>
                                </td>
                            </tr>
                          
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="col-lg-3">
                <div class="ctg-right">
                    <a href="#" target="_blank">
                        <img class="img-fluid d-block mx-auto" src="img/category/c5.jpg" alt="">
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
{% if messages %}<script>
    alert("{% for message in messages %}{{ message }}\n{% endfor %}");
  </script>{% endif %}
<!-- End related-product Area -->
{% endblock %}