{% extends 'base_home.html' %}
{% load static %}


{% block 'content' %}


<section class="" data-setbg="{% static 'img/breadcrumb.jpg' %}">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <div class="breadcrumb__text">
          <h2>Checkout</h2>
          <div class="breadcrumb__option">
            <a href="index-2.html">Home</a>
            <span>Checkout</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


<form action="{% url 'checkout' %}" method="POST">
  {% csrf_token %}
  <section class="checkout spad">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
        </div>
      </div>
      <div class="checkout__form">
        <h4></h4>
        <form action="#">
          <div class="row">
            <div class="col-lg-8 col-md-6">


              <div class="checkout__input">
                <p>Street Address<span>*</span></p>
                <input name="street" type="text" placeholder="Street Address" class="checkout__input__add">
              </div>
              <div class="checkout__input">
                <p>Town/City<span>*</span></p>
                <input name="city" placeholder="Sydney" type="text">
              </div>

              <div class="checkout__input">
                <p>Postcode / ZIP<span>*</span></p>
                <input name="zipcode" placeholder="393990 " type="text">
              </div>
              <div class="row">
                <div class="col-lg-12">
                  <div class="checkout__input">
                    <p>Phone<span>*</span></p>
                    <input name="phone" placeholder="+61 092 290 290" type="text">
                  </div>
                </div>

              </div>
            </div>

        </form>
        <div class="col-lg-4 col-md-6">
          <div class="checkout__order">
            <h4>Your Order</h4>
            <div class="checkout__order__products">Products <span>Price</span></div>
            <ul>
              {% for item in cart %}
              <li> {{item.product.name}} <span>${{item.product.price}}</span></li>
              {% endfor %}
            </ul>
            <div class="checkout__order__total">Total <span id="total">${{sum}}</span></div>
            <div id="paypal-button-container"></div>
            {% comment %}
            <div class="checkout__input__checkbox">
              <input checked type="radio" id="dewey" name="drone" value="dewey"> <span class="checkmark"></span>
              <label for="dewey">Pay Pal</label>
            </div>

            <div class="checkout__input__checkbox">
              <input type="radio" id="louie" name="drone" value="louie"> <span class="checkmark"></span>
              <label for="louie">Cash On Delivery</label>
            </div>
            {% endcomment %}



            <button type="submit" class="site-btn">PLACE ORDER</button>
          </div>
        </div>
      </div>
</form>
</div>
</div>

</section>

{% endblock %}