{% extends 'base.html' %}
{% load static %}


{% block 'content' %}


<section class="" data-setbg="{% static 'img/breadcrumb.jpg' %}">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <div class="breadcrumb__text">
          <h2>Checkout</h2>
          <div class="breadcrumb__option">
            <a href="index-2.html">Home</a>
            <span>Checkout</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


<form action="{% url 'checkout' %}" method="POST">
  {% csrf_token %}
  <section class="checkout spad">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
        </div>
      </div>
      <div class="checkout__form">
        <h4></h4>
        <form action="#">
          <div class="row">
            <div class="col-lg-8 col-md-6">


              <div class="checkout__input">
                <p>Street Address<span>*</span></p>
                <input name="street" type="text" required placeholder="Street Address" class="checkout__input__add">
              </div>
              <div class="checkout__input">
                <p>Town/City<span>*</span></p>
                <input name="city" required placeholder="Sydney" type="text">
              </div>

              <div class="checkout__input">
                <p>Postcode / ZIP<span>*</span></p>
                <input name="zipcode" required placeholder="393990 " type="text">
              </div>
              <div class="row">
                <div class="col-lg-12">
                  <div class="checkout__input">
                    <p>Phone<span>*</span></p>
                    <input name="phone" required placeholder="+61 092 290 290" type="text">
                  </div>
                </div>

              </div>
            </div>

        </form>
        <div class="col-lg-4 col-md-6">
          <div class="checkout__order">
            <h4>Your Order</h4>
            <div class="checkout__order__products">Products <span>Price</span></div>
            <ul>
              {% for item in cart %}
              <li> {{item.product.name}} <span>${{item.product.price}}</span></li>
              {% endfor %}
            </ul>
            <div class="checkout__order__total">Total <span id="total">${{sum}}</span></div>
            <div id="paypal-button-container"></div>
            <i>
              <sm> Note: Default order will be cash on delivery.</sm>
            </i>

            <button type="submit" class="site-btn">PLACE ORDER</button>
          </div>
        </div>
      </div>
</form>
</div>
</div>

</section>
<script
  src="https://www.paypal.com/sdk/js?client-id=AQYt5mD9leevCjjOYonVy44wdxIf41ThD4IXIqDypA06YKT3ioHi0WRFDhvA8JHaxJroT27AGvQGjfT7&currency=USD">
</script>

<script>
  var total = '{{sum}}';
  // Render the PayPal button into #paypal-button-container
  paypal.Buttons({

    // Set up the transaction
    createOrder: function (data, actions) {
      return actions.order.create({
        purchase_units: [{
          amount: {
            value: total
          }
        }]
      });
    },

    // Finalize the transaction
    onApprove: function (data, actions) {
      return actions.order.capture().then(function (orderData) {
        // Successful capture! For demo purposes:
        console.log('Capture result', orderData, JSON.stringify(orderData, null, 2));
        var transaction = orderData.purchase_units[0].payments.captures[0];
        alert('Transaction ' + transaction.status + ': ' + transaction.id +
          '\n\nSee console for all available details');

        // Replace the above to show a success message within this page, e.g.
        // const element = document.getElementById('paypal-button-container');
        // element.innerHTML = '';
        // element.innerHTML = '<h3>Thank you for your payment!</h3>';
        // Or go to another URL:  actions.redirect('thank_you.html');
      });
    }


  }).render('#paypal-button-container');
</script>
{% endblock %}