{% extends 'base.html' %} {% block content %}

<!--================Checkout Area =================-->
<section class="checkout_area section_gap">
    <div class="container">
        <div class="returning_customer">

        </div>
        <br>
        <br>
        <form class="" action="{% url 'checkout' %}" method="POST">
            {% csrf_token %}
            <div class="billing_details">
                <div class="row">
                    <div class="col-lg-8">
                        <h3>Billing Details</h3>

                        <div class="col-md-12 form-group p_star">
                            <input required type="text" class="form-control" id="number" name="phone">
                            <span class="placeholder" data-placeholder="Phone number"></span>
                        </div>
                        <div class="col-md-12 form-group p_star">
                            <input type="text" required class="form-control" id="street" name="street">
                            <span class="placeholder" data-placeholder="Street"></span>
                        </div>

                        <div class="col-md-12 form-group p_star">
                            <input type="text" required class="form-control" id="city" name="city">
                            <span class="placeholder" data-placeholder="Town/City"></span>
                        </div>

                        <div class="col-md-12 form-group">
                            <input type="text" required class="form-control" id="zip" name="zip" placeholder="Postcode/ZIP">
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="order_box">
                            <h2>Your Order</h2>
                            <ul class="list">
                                {% for cart_product in cart %}
                                <li><a href="#">Product <span>Total</span></a></li>
                                <li><a href="#">{{cart_product.product.name}}({{cart_product.product.price}} ) <span class="middle"> x {{cart_product.product.quantity}}</span> <span class="last">${{sum}}</span></a></li>
                                {% endfor %}
                            </ul>
                            <ul class="list list_2">
                                <li><a href="#">Subtotal <span>$2160.00</span></a></li>
                                <li><a href="#">Shipping <span>Flat rate: $50.00</span></a></li>
                                <li><a href="#">Total <span>$2210.00</span></a></li>
                            </ul>

                            <br>

                            <button class="primary-btn" style="border:none;width:100%;" type="submit">Proceed to Paypal</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</section>
<!--================End Checkout Area =================-->
{% endblock %}